<!doctype html>

<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>

  <body>
    <header><img src="/img/yahoo.png" width="100" height="100" alt="Yahoo"></header>
    {{{body}}}
  </body>
</html>