<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <style>
    .ml-15 {
      margin: 15px
    }

    .tc {
      text-align: center;
      font-size: 18px;
      font-weight: 800;
    }
  </style>
</head>
<body screen_capture_injected="true">
  <div class="container">
    <form class="col-ms-8 form-horizontal" role="form" method="post" onsubmit="return false">
      <div class="panel panel-default">

        <div class="panel5-heading">
          <p class="tc">注册信息</p>
        </div>

        <div class="panel-body ml-15">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>

              <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
          
              <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
          
              <input type="password" class="form-control" id="password-check" name="password-check" placeholder="请再次输入密码" required>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" id="login">登录</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info btn-block" id="register">注册</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script>
    $("#login").click(() => {
      location.href = "/login"
    })

    $("#register").click(() => {
      let username = $("#username").val()
      let password = $("#password").val()
      let passwordCheck = $("#password-check").val()

      if (password !== passwordCheck) {
        $("#password").css("border", "1px solid red")
        $("#password-check").css("border", "1px solid red")
        return false
      }

      let data = {
        "username": username,
        "password": password
      }

      $.ajax({
        "url": '/register',
        "type": "post",
        "data": data,
        success(data, status) {
          if(status === 'success') {
            location.href = '/login'
          }
        },
        error(data, err) {
          location.href = "/register"
        }
      })
    })
  </script>
</body>
</html>